# Exercise 1

x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [4]:

x = 3
x = float(x)
print( type(x))


y = 4.5
y = int(y)
print( type(y))


z = "8"
z = int(z)
print( type(z))

a = "12"
a = float(a)
print( type(a))


b = "46.8"
b = int(float(b))  
print(type(b))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>

# Excersice 2

Üç değişken belirleyelim, bu değişkenler kişi adı olsun. Değişkenlere kişilerin yaşlarını atayalım. (ÖRN: ayse=22)

Belirlediğimiz üç değişkeni birbiriyle karşılaştırma operatörleri ile karşılatıralım. (ayse>mehmet)

Bu karşılaştırmalara mantıksal operatörleri de ekleyelim.

In [8]:
zeynep = 20
cenk = 22
sıla = 19
zeynep > cenk

False

In [10]:
sıla < cenk

True

In [9]:
zeynep == sıla

False

# Excercise 3

Kullanıcıdan iki değer girmesini isteyin. Girilen değerlerin toplama,çıkarma,çarpma,bölme sonuçlarını yazdıralım.

In [15]:
sayi1 = float(input("İlk sayıyı girin: "))
sayi2 = float(input("İkinci sayıyı girin: "))

In [17]:
sayi1

12.0

In [16]:

sayi2

9.0

In [20]:
çıkartma = sayi1-sayi2
print(çıkartma)

3.0

In [18]:
toplam = sayi1 + sayi2
print(toplam)

21.0

In [21]:
çarpma = sayi1 *sayi2
print(çarpma)

108.0

In [23]:
bölme = sayi1 / sayi2
print(bölme)

1.3333333333333333

# Excercise 4

Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini isteyelim ve cevaplarını yazdıralım.

In [24]:
isim = input("Adınızı girin: ")
yas = input("Yaşınızı girin: ")
sehir = input("Şehrinizi girin: ")
meslek = input("Mesleğinizi girin: ")

print("İsim: " + isim)
print("Yaş: " + yas)
print("Şehir: " + sehir)
print("Meslek: " + meslek)

İsim: zeynep
Yaş: 20
Şehir: ordu
Meslek: yazılım geliştirici

# Excersice 5 

"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlayalım.
- İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçelim.
- İfadeyi hepsini büyük harf olacak hale çevirelim.  ("HI-KOD VERİ BİLİMİ ATÖLYESİ")
- İfadeyi hepsini büyük harf olacak hale çevirelim.("hi-kod veri bilimi atölyesi")

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçelim. ("02468", "13579")

In [26]:
ifade = "Hi-Kod Veri Bilimi Atölyesi"
kelimeler = ifade.split()
buyuk_harf = ifade.upper()
kucuk_harf = ifade.lower()
sayilar = "0123456789"
cift_sayilar = ''.join([c for c in sayilar if int(c) % 2 == 0])
tek_sayilar = ''.join([c for c in sayilar if int(c) % 2 != 0])

print(ifade)
print("Kelimeler:", kelimeler)
print("Büyük Harf:", buyuk_harf)
print("Küçük Harf:", kucuk_harf)
print("Çift Sayılar:", cift_sayilar)
print("Tek Sayılar:", tek_sayilar)

Hi-Kod Veri Bilimi Atölyesi
Kelimeler: ['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']
Büyük Harf: HI-KOD VERI BILIMI ATÖLYESI
Küçük Harf: hi-kod veri bilimi atölyesi
Çift Sayılar: 02468
Tek Sayılar: 13579